{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
    <nav class="container container--70">
{% include 'login_navbar.html' %}
    {% include 'donation_navbar.html' %}
    </nav>
    </header>

    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form method="post" action="">
          {% csrf_token %}
        <div class="form-group">
          <input type="email" name="{{ form.username.name }}" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="{{ form.password.name }}" placeholder="Hasło" />
          <a href="{% url 'password_reset' %}" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'registration' %}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>


{% endblock %}
