<ul>
  <li><a href="index.html" class="btn btn--without-border active">Start</a></li>
  <li><a href="index.html#steps" class="btn btn--without-border">O co chodzi?</a></li>
  <li><a href="index.html#about-us" class="btn btn--without-border">O nas</a></li>
  <li><a href="index.html#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
  <li><a href="form.html" class="btn btn--without-border">Przekaż dary</a></li>
  <li><a href="index.html#contact" class="btn btn--without-border">Kontakt</a></li>
</ul>