<ul>
  <li><a href="{% url 'main' %}" class="btn btn--without-border active">Start</a></li>
  <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
  <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
  <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
  {% if user.is_authenticated %}
    <li><a href="{% url 'donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
  {% endif %}
  <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
</ul>