{% if user.is_authenticated %}
    <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{ user.first_name }}
            <ul class="dropdown">
              <li><a href="{% url 'profile' %}">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
                {% if user.is_superuser %}
                    <li><a href="/admin/">Admin panel</a></li>
                    {% endif %}
              <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
          </li>
        </ul>
{% else %}

<ul class="nav--actions">
  <li><a href="{% url 'login' %}">Zaloguj</a></li>
  <li class="highlighted"><a href="{% url 'registration' %}">Załóż konto</a></li>
</ul>

{% endif %}