<div class="help--slides-pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page=1" class="btn btn--small btn--without-border active">&laquo; first</a>
            <a href="?page={{ objects.previous_page_number }}" class="btn btn--small btn--without-border">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}" class="btn btn--small btn--without-border">next</a>
            <a href="?page={{ objects.paginator.num_pages }}" class="btn btn--small btn--without-border">last &raquo;</a>
        {% endif %}
    </span>
</div>

