{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
    <nav class="container container--70">
{% include 'login_navbar.html' %}
    {% include 'donation_navbar.html' %}
    </nav>
    </header>
    <section>
    <div>
   <ul>
       <li>{{ user.first_name }}</li>
       <li>{{ user.last_name }}</li>
       <li>{{ user.email }}</li>
   </ul>

    </div>
    </section>

    <section>
    <div>
   <ul>
       {% for donation in donations %}<li>{{ donation.quantity }}
           {{ donation.institution }}
           {% for category in donation.categories.all %}{{ category.name }}{% endfor %}
       {{ donation.pick_up_date }}</li>{% endfor %}
   </ul>

    </div>
    </section>

{% endblock %}
