{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
    <nav class="container container--70">
{% include 'login_navbar.html' %}
    {% include 'donation_navbar.html' %}
    </nav>
    </header>
    <section>
    <div>
   <table style="font-size: 2em;">
       <tr><th>First name</th><th>{{ user.first_name }}</th></tr>
       <tr><th>Last name</th><th>{{ user.last_name }}</th></tr>
       <tr><th>Email</th><th>{{ user.email }}</th></tr>
   </table>

    </div>
    </section>

    <section>
    <div>
    <table style="font-size: 2em;">
        <thead>
    <tr>
        <th scope="col">Quantity</th>
        <th scope="col">Institution</th>
        <th scope="col">Categories</th>
        <th scope="col">Pick-up date</th>
        <th scope="col">Archive</th>

    </tr>
    </thead>
   {% for donation in donations %}
       <tr>
       <th>{{ donation.quantity }}</th>
           <th>
               {{ donation.institution }}</th>
           <th>{% for category in donation.categories.all %}{{ category.name }} {% endfor %}</th>
       <th>{{ donation.pick_up_date }}</th>
       <th><form method="post" action="{% url 'archive' %}">
                    {% csrf_token %}<input name="donation_id" type="hidden" value="{{ donation.id }}">
                    <input type="submit" class="btn btn-success" value="Archive"></form></th>
   </tr> {% endfor %}
    </table>

    </div>
    </section>

{% endblock %}
